@using ProgrammersBlog.Shared.Utilities.Results.ComplexTypes
@using ProgrammersBlog.Entities.Concrete
@model List<Role>
@{
    Layout = "_Layout";
    ViewBag.Title = "Roller Index";
}

    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Roller
        </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="rolesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kullanıcı Adı</th>
                            <th>İşlemler</th>
                            <th>İşlemler2</th>
                                                       
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Kullanıcı Adı</th>
                            <th>İşlemler</th>
                            <th>İşlemler2</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var role in Model)
                        {
                            <tr name="@role.Id">
                                <td>@role.Id</td>
                                <td>@role.Name</td>
                                <td>
                                    <button href="/Admin/Role/UpdateRole/" class="btn btn-outline-success" ><span class="fas fa-edit"></span></button>
                                </td>
                                <td>
                                    <button href="/Admin/Role/DeleteRole/" class="btn btn-danger btn-sm btn-delete" ><span class="fas fa-minus-circle"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Admin/Role/AddRole/" class="btn btn-outline-primary"> Yeni Rol Ekle</a>
                <a href="/Admin/Role/UserRoleList/" class="btn btn-outline-info"> Kullanıcı rol listesi</a>
            </div>
        </div>


